<h1 class="mx-auto me-4  p-2 text-center">How to play blackjack</h1>
<div class="container">
  <div class="row">
    <div class="col-4">
      <span class="fw-bold ">Basic Rules</span>
      <ul>
        <li>Blackjack is a game where your goal is to get the numbers of your cards as  close to 21.</li><br>
        <li>You win if the total number of your hand is closer to 21 than that of the dealer.</li><br>
        <li>A two-card hand consisting of an Ace and either a King, Queen, Jack, or a 10 is called a blackjack.</li><br>
        <li>If you go over 21, you bust, meaning you lose.</li><br>
      </ul>
    </div>
  
  <div class="col-4">
  <span class="fw-bold">Counting card Values</span><br>
  <ul>
    <li>An Ace can be valued either at 1 or 11, depending on which is more convenient for your hand.</li><br>
    <li>10, King, Queen, and Jack are all valued at 10.</li>
  </ul>
  </div>
  
  <div class="col-4">
  <span class="fw-bold">Blackjack terminology</span><br>
  <ul>
    <li>Hit > Draw a card and add it to your hand</li><br>
    <li>Stand > Stay with you current hand</li>
  </ul>
  </div>
  <a class="btn btn-primary" href="/blackjack">Play Blackjack</a>
  </div>
</div>
