<h1 class="mx-auto me-4  p-2 text-center">How to play blackjack</h1>
<div class="container">
  <div class="row">
    <div class="col-4">
      <p>
      <span class="fw-bold ">Basic Rules</span> <br>
        Blackjack is a game where your goal is to get the numbers of your cards as  close to 21. <br>
        You win if the total number of your hand is closer to 21 than that of the dealer. <br>
        A two-card hand consisting of an Ace and either a King, Queen, Jack, or a 10 is called a blackjack. <br>
        If you go over 21, you bust, meaning you lose.
      </p>
    </div>
  
  <div class="col-4">
  <p>
  <span class="fw-bold">Counting card Values</span><br>
  An Ace can be valued either at 1 or 11, depending on which is more convenient for your hand. <br>
  10, King, Queen, and Jack are all valued at 10.
  </p>
  </div>
  
  <div class="col-4"><p>
  <span class="fw-bold">Blackjack terminology</span><br>
  Hit > Draw a card and add it to your hand <br>
  Stand > Stay with you current hand <br>
  </p>
  </div>
  </div>
</div>
